{% extends "layout.html" %}

{% block title %}
Inbox
{% endblock %}

{% block main_class %}container{% endblock %}

{% block body %}

{% for attempt in ungraded_attempts %}

    {% if order == 'class' %}
        {% if not loop.previtem or loop.previtem.student.class_name != attempt.student.class_name %}
            {% if loop.previtem %}
                </div>
            {% endif %}
            <h2>{{attempt.student.class_name or "No class"}}</h2>
            <div class="people-cards">
        {% endif %}
    {% else %}
        {% if not loop.previtem or loop.previtem.inbox_date != attempt.inbox_date %}
            {% if loop.previtem %}
                </div>
            {% endif %}
            <h2>{{attempt.inbox_date}}</h2>
            <div class="people-cards">
        {% endif %}
    {% endif %}
    
    <div class="card">
        <a href="{{ url_for('user_profile', short_name=attempt.student.short_name) }}">
            <img class="avatar" src="{{attempt.student.avatar}}" alt="Student avatar">
        </a>
        <a href="/curriculum/{{attempt.node_id}}?student={{attempt.student_id}}">
            <h3>
                <div class="tag inbox_{{attempt.status}}">
                    {% if attempt.status == "needs_grading" %}
                        {% if attempt.finished == None or attempt.finished == "yes" %}
                        Grade
                        {% else %}
                        Unfinished
                        {% endif %}
                    {% elif attempt.status == "awaiting_approval" %}
                    Approve
                    {% elif attempt.status == "needs_consent" %}
                    Consent
                    {% elif attempt.status == "in_progress" %}
                    Deadline
                    {% endif %}
                </div>
                {% if online_user_ids[attempt.student_id] == 'online' %}
                <span class="tag"></span>
                {% elif online_user_ids[attempt.student_id] == 'today' %}
                <span class="tag translucent"></span>
                {% endif %}
                {{attempt.student.short_name}}
            </h3>
            <p>
                {% if attempt.node_id in nodes %}
                {{modules[nodes[attempt.node_id].module_id].short or modules[nodes[attempt.node_id].module_id].name or modules[nodes[attempt.node_id].module_id].id.capitalize()}} ➤
                {{nodes[attempt.node_id].name}}
                {% else %}
                {{attempt.node_id}}
                {% endif %}
            </p>
        </a>
    </div>
{% endfor %}
{% if ungraded_attempts %}
    </div>
{% endif %}

{% if order == 'class' %}
<a role="button" class="outline mar3" href="?order=date">show by date</a>
{% else %}
<a role="button" class="outline mar3" href="?order=class">show by class</a>
{% endif %}

{% if session['inbox_present'] == 'online' %}
<a role="button" class="outline mar3" href="?present=all">show absent</a>
{% else %}
<a role="button" class="outline mar3" href="?present=online">hide absent</a>
{% endif %}

{% endblock %}