{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block title %}
    <a href="/curriculum">Learning</a>
    <a href="/curriculum#{{node.position[0]}}.{{node.position[1].rstrip('abcdef')}}">{{node.position[0]}}.{{node.position[1]}}</a>
    {% if topic and topic.name %}
        <a href="/curriculum#{{node.position[0]}}.{{node.position[1].rstrip('abcdef')}}">{{topic.short or topic.name}}</a>
    {% endif %}
    <a href="/curriculum/{{node.id}}">{{node.name}}</a>
    {% if student and student.id != current_user.id %}
    <a href="/people/{{student.id}}">{{ student.first_name }}</a>
    {% endif %}
{% endblock %}

{% block body %}

<table class="mar3" style="width: 100%;">
    <tr><th>Description</th><td>{{node.description}}</td></tr>
    <tr><th>Type</th><td>{{ {
        "hand-in": "Hand-in assignment with oral explanation",
        "assessment": "Hand-in assignment with assessment",
        "portfolio": "Portfolio with public defence",
        "project": "Project with assessment",
        "internship": "Internship",
        "overhead": "Preparations",
    }[node.type] or node.type }}.</td></tr>
    <tr><th>Duration</th><td>{{ 'About' if node['allow_longer'] or not node['ects'] else 'At most'}} {{node['days']}} {{'working days' if node['days'] > 1 else 'working day'}}.</td></tr>
    {% if node['ects'] %}
        <tr><th>Credits</th><td>{{node['ects']}}</td></tr>
        <tr><th>Test matrix</th><td>
            <table class="map-table">
                <thead><tr>
                    <th>{{"Final qualification" if node["type"]=="graduation" else "Learning goal"}}</th>
                    <th>Know</th>
                    <th>Comprehend</th>
                    <th>Apply</th>
                    <th>Analyze</th>
                    <th>Evaluate</th>
                    <th>Create</th>
                    <th>Σ</th>
                </tr></thead>
                <tbody>
                {% for goal in node['goals'].values() %}
                    <tr>
                        <td>{{goal.title}}</td>
                        {% for bloom in ['know', 'comprehend', 'apply', 'analyze', 'evaluate', 'create'] %}
                            {% if bloom in goal %}
                                {% if goal.weight %}
                                    <td>{{(goal.fraction * (goal[bloom] or 0) / goal.weight * 100)|round|int}}</td>
                                {% else %}    
                                    <td>must</td>
                                {% endif %}
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                        <th>{{(goal.fraction * 100)|round|int}}</th>
                    </tr>
                {% endfor %}
            </tbody></table>
        </td></tr>
    {% elif node['goals'] %}
        <tr><th>Learning goals</th><td class="content">
            <ul>
                {% for goal in node['goals'].values() %}
                    <li>{{goal.title}} <span class="tag no-float">{{(goal.fraction * 100)|round|int}}%</span></li>
                {% endfor %}
            </ul>
        </td></tr>
    {% endif %}
    {% if node['pair'] %}
        <tr><th>Pair programming</th><td class="content">
            You are allowed (but not required) to work together with a fellow student, practicing <a href="https://www.youtube.com/watch?v=ET3Q6zNK3Io">pair programming</a>.
            <ol>
                <li>Find a student who's also ready to do this assignment.
                    <div>
                        {% for pair_option in pair_options %}
                        <a href="/people/{{pair_option.short_name}}" class="pair_option">
                            <img class="avatar is-prefix" src="{{pair_option.avatar}}" alt="Avatar">
                            {{pair_option.full_name}}
                        </a>
                        {% endfor %}
                    </div>
                </li>
                <li>Both of you start the assignment and fill in <code>PAIR_PROGRAMMING.md</code>.</li>
                <li>Do the assignment working together on one computer, alternating roles.</li>
                <li>Both of you submit at the same time, with only one uploading the actual code.</li>
                <li>We'll review and grade you together.</li>
            </ol>
        </td></tr>
    {% endif %}
    {% if node['nlqf'] %}
    <tr><th>NLQF</th><td class="content">
        <ul>
            {% for goal in node['nlqf'] %}
                <li>{{goal}}</li>
            {% endfor %}
        </ul>
    </td></tr>
    {% endif %}

    {% if node['about'] %}
    <tr><th>About this lesson</th><td class="content rows1">{{node['about'] | markdown | safe}}</td></tr>
    {% endif %}
    
    {% if status %}
        <tr><th>Status</th><td class="content">
        {% if status.action == 'login' %}
            You need to <a href="/user/login">log in</a> to view the learning materials and assignment(s).
        {% else %}
            <ul>
                {% if status.deadline %}
                    <li>Deadline: {{status.deadline | localtime}}</li>
                {% endif %}
                {% if status.status == 'passed' %}
                    <li class="has-text-success">Passed!</li>
                {% endif %}
                {% if status.status == 'failed' %}
                    <li class="has-text-error">Failed.</li>
                {% endif %}
                {% if status.status == 'repair' %}
                    <li class="has-text-error">Improve your work based on the feedback.</li>
                {% endif %}
                {% if status.status in ['needs_grading','needs_consent'] %}
                    <li class="has-text-success">Awaiting grading...</li>
                {% endif %}
                {% for error in status.errors %}
                    <li>{{error|markdown|safe}}</li>
                {% endfor %}
                {% for warning in status.warnings %}
                    <li>{{warning|markdown|safe}}</li>
                {% endfor %}
            </ul>
            {% if status.action == 'start' and not status.errors %}
                <div class="buttons">
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input class="button {{'is-primary' if not status.warnings}}" type="submit" name="start" value="Start attempt{{' anyway' if status.warnings}}">
                    </form>
                </div>
            {% endif %}
        {% endif %}
        </tr>
    {% endif %}

    {% if current_user.is_authenticated and current_user.is_teacher %}
        {% if node.errors %}
            <tr><th>Teacher errors</th><td class="content"><ul>
                {% for error in node.errors %}
                    <li class="has-text-danger">{{error|markdown|safe}}</li>
                {% endfor %}
            </ul></td></tr>
        {% endif %}
        {% if node.warnings %}
            <tr><th>Teacher warnings</th><td class="content"><ul>
                {% for warning in node.warnings %}
                    <li class="has-text-danger">{{warning|markdown|safe}}</li>
                {% endfor %}
            </ul></td></tr>
        {% endif %}
        {% if node.plans %}
            <tr><th>Teacher plans</th><td class="content">
                {{node.plans|markdown|safe}}
            </td></tr>
        {% endif %}
    {% endif %}
    
</table>


{% if assignments|length > 1 %}
<div class="tab-selectors mar3">
{% for name, assignment in assignments.items() %}
    <a>
        {{ name }}
    </a>
{% endfor %}
</div>
{% endif %}

<div class="tab-blocks mar3">
    {% for name, assignment in assignments.items() %}
        <div class="rows3">
            {% if assignment.notifications or assignment.others %}
            <div class="notification is-info">
                {% for notification in assignment.notifications %}
                    <p>{{notification|safe}}</p>
                {% endfor %}

                {% if assignment.others %}
                <p>
                    {{assignment.others_message}}
                    {% for user,link in assignment.others %}
                    <a class="presence-avatar {{user.get_presence_class()}}" href="{{link}}">
                        <img class="avatar is-prefix" src="{{user.avatar}}" alt="Avatar">
                        {{user.first_name}}
                    </a>
                    {% endfor %}
                </p>
                {% endif %}
    
            </div>
            {% endif %}

            {% if assignment.buttons %}
            <div class="buttons">
                {% for button in assignment.buttons %}
                {{button|safe}}
                {% endfor %}
            </div>
            {% endif %}

            <section class="assignment">
                {{ assignment.html|safe }}

                {% if assignment.submit_form %}
                <h1>Submit attempt</h1>
                
                {% for warning in assignment.submit_warnings %}
                <div class="mt-4 notification is-warning">{{warning}}</div>
                {% endfor %}
                
                {% from "form-macro.html" import form_macro %}
                {{ form_macro(assignment.submit_form) }}
                <script src="/static/feedback.js"></script>
                {% endif %}
                
            </section>

            {% if assignment.files %}
            <section>
                <h1>Files</h1>
                <ul>
                    {% for file in assignment.files %}
                    <li><a href="{{file_base}}{{file}}" download>{{file}}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
